button {
  background-color: #afcae8;
}

body{
background-color: #dee9f8;
color: #617181;
}

.doctorInfo {
  margin: 20px 20px 20px 40px;
  background-color: #eef7fa;
  max-width: 400px;
}

#output {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.doctorName {
  text-align: center;
}

.buttonDiv {
  margin-bottom: 20px;
}

.mainHeader {
  margin-bottom: 40px;
  padding-top: 100px;
  font-family: 'Cairo', sans-serif;
}

h3 {
  font-family: 'Cairo', sans-serif;
  font-size: 45px;
}

.formContainer {
  background-color: #eef7fa;
}
.doctorImage {
  float: right;
}
